<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Première vue</title>
	</head>
	<body>
		<h1>Initiation Symfony</h1>
		<nav></nav>
		<section>
			<article>
				<h2>Le nombre sorti est le :
					{{lenombresorti}}</h2>
			</article>
		</section>

		<footer>
			<p>{{'copyright'|trans}}
				c 2020-2021</p>
		</footer>
	</body>
</html>
